#cabecera{
  background-color: #8A0808;
  color: white;
}

.panel{
  border-bottom: solid 1px #6e6e6e;
  padding-top:1em;
  padding-bottom:1em;
}

.list-group-item.active{
  color: rgb(33,37,41);
  background-color: white;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: none;
  border-right: none;
}

.list-group-item{
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: solid 2px black;
  border-radius: 0;
}
.list-group-item.list-group-item:first-child{
  border-radius: 0;
}

.list-group-item.list-group-item:last-child{
  border-radius: 0;
}

.filt-oculto.select2{
  width:100%!important;
}

.select2{
  margin: 0.5em;
}

#slider-fecha .slider-track{
  height: 2px;
}

#slider-fecha .slider-track-high, #slider-fecha .slider-track-high {
	background: #CCC;
}

#slider-fecha .slider-track-low, #slider-fecha .slider-track-low {
	background: #CCC;
}

#slider-fecha .slider-selection {
	text-shadow: 2px 2px 4px #000000 !important;
	background: black;
}

#slider-fecha .slider-handle {
  background: black;
  margin-top: -1px;
  width: 14px;
  height: 14px;
	cursor: pointer;
}

.slider {
    width: 500px !important;
}

#slider-fecha .tooltip-inner{
	background-color: #6E6E6E;
}
