h5{
  margin: 0;
}

.p-idearq{
  color:#454545;
}

.p-idearq a{
  color: #454545;
  text-decoration: none;
}

.p-idearq a:hover{
  color: #FF7542;
}

#cabecera{
  background-color: #8A0808;
  color: white;
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.panel-consultas{
   margin-bottom:0.5em;
   padding-left: 1em;
   background-color: #454545;
}

.cabecera-consultas{
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.boton-flujo{
  font-size: 1.5em;
  color: white;
  border-width: 0px;
  border-radius: 0.25em;
  background-color: #FF7542;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}
.boton-flujo:hover{
  background-color: #a74b29;
}
.boton-flujo:disabled,
.boton-flujo[disabled] {
  background-color: #a74b29;
}

#panel-filt{
  margin-bottom: 5em;
}

.panel-resultados{
  margin-bottom: 5em;
  padding: 1em;
}
.panel-resultados h4{
  color: #FF0000;
}
#salida{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
/* Tabs*/
section {
  padding: 1em;
}

#panel-sel-filt{
  color: #eee;
}

#panel-sel-filt .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 1.4em;
  font-weight: bold;
}

#panel-sel-filt .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 1.2em;
}

#panel-sel-filt .tab-content{
  margin-top: 1em;
  margin-bottom: 1em;
}

.select2-results__option ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.select2-results__option--highlighted {
  background-color: #FF7542 !important;
}

.labo-completo{
  font-size:0.8rem;
}

/*rangeSlider:*/
.irs-from, .irs-to, .irs-single{
  background-color:#FF7542;
}

.irs-bar, .irs-line-left,.irs-line-mid,.irs-line-right, .irs-slider.to, .irs-slider.from{
  cursor:pointer;
}

/*Resultados*/
.lst-flt-selec{
  color: #454545;
  background-color: white;
  padding: 0.5em;
  margin-bottom: 1px;
  transition:background-color 1.5s ease;
}

.descargas{
  color: white;
  background-color: #454545;
  padding: 0.5em;
  margin-bottom: 1px;
  border-radius: 0.25em;
}

.resalta{
  background-color: #FF7542;
  color: white;
}

/*tabla*/
.tabla-dataciones {
  color:#454545;
}

.tabla-dataciones td{
  margin:0px;
}

.tabla-dataciones.table-hover tbody tr:hover td, .tabla-dataciones.table-hover tbody tr:hover th {
  background-color: rgba(200,200,200,0.6);/* rgba(255,177,66,0.6);*/
}

.lst-dataciones .page-link{
  color: #454545;
}

.lst-dataciones .page-item.active .page-link{
  background-color: #FF7542;
  border-color: #FF7542;
  color: white;
}

.data-ext{
  padding: 0.25em;
}

.icono-tabla{
  font-size: 1.2em;
  cursor: pointer;
}

.icono-tabla:hover{
  color: #FF7542;
}

/*Mapa*/
.map{
  width: 100%;
  height: 700px;
  padding: 0;
  border: solid 1px #454545;

}

.attribution-container {
  background-color: rgba(250,250,250,0.5);
  padding: 0 5px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  margin: 0 10 5;
}


.popover-title{
  background-color: #454545;
}

.popover-header{
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-weight: bold;
  min-height: 45px;
}

.popover-body{
  min-width: 250px;
  max-height: 300px;
  overflow-y: auto;
}

.icono-pop{
  float: left;
  margin: 0 8px;
  padding: 1px;
  text-align: center;
  position: relative;
  top:0;
  left: 0;
}

.cierra-pop{
  float: right;
  margin: 0 5px;
  margin-right: 10px;
  padding: 3px;
  width: 20px;
  text-align: center;
  font-size: 12px;
  position: relative;
  top:0;
  right: 0;
  cursor: pointer;
  border-radius: 100%;
  color:white;
}

.cierra-pop:hover{
  text-decoration: none;
  color: #6E6E6E;
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 200px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}

.enlace_yaci{
  cursor: pointer;
}

.enlace_yaci a:hover{/*no funciona, creo que porque no tiene href*/
  color: #FF7542;
}

.yaci-ext{
	width: 100%;
	float: right;
	padding-left: 10px;
	margin-bottom: 1.2em;
  font-weight: normal;
}

.etiqueta-mapa{
  margin-bottom: 0;
  color: white;
  font-size: 1em;
  background-color: #FF7542;
  padding: 0 1em;
  border-radius: 0.25em;
}

/*Histograma*/
.bar rect {
  fill: #FF7542;
}

.bar rect:hover {
  fill: #a74b29;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

/* Footer */
footer {
  padding: 30px 0;
}

footer {
  background: #FAFAFA !important;
  color: #454545;
}

footer a{
  color: #454545;
}

footer p{
  font-size: 0.9em;
}

footer a:hover{
  color: #FF7542;
  text-decoration: none;
}

footer ul{
  margin-left: 3em;
  list-style: none;
  float: right;
  border-left: 1px solid #454545;
  padding: 5px 10px 5px 10px;
}

footer p{
  margin-bottom: 2px;
}

.logo{
  margin-top: 1em;
  margin-left: 1em;
  height: 30px;
  float: right;
}
