.p-idearq{
  color:#454545;
}

.p-idearq a{
  color: #454545;
  text-decoration: none;
}

.p-idearq a:hover{
  color: #FF7542;
}

#cabecera{
  background-color: #8A0808;
  color: white;
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.panel{
  border-bottom: solid 1px #6e6e6e;
  padding-top:1em;
  padding-bottom:1em;
}

.panel-consultas{
   margin-top:1em;
   margin-bottom:1em;
   padding-left: 1em;
   background-color: #808080;
}

.cabecera-consultas{
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  cursor: pointer;
}
.cabecera-consultas:hover{
  color: #FF7542;
}

#panel-sel-filt{
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.lst-filt{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filt{
  box-shadow: 0 0 5px #888;
  padding: 1em;
  border-radius: 0.25em;
  background-color: #FFF;
}

.activo{
  padding: 1em !important;
  font-size: 1.1em !important;
  display: inline-block;
  background-color: #FFF !important;
  box-shadow: 5px 0 5px #FFF, 0 0 5px #888;
}

.lst-filt-elem{
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}

 /* .select2-results__options{
  float:left;
  width: 30%;
} */
/* .select2-results__group{
  float:left;
  width: 30%;
} */

.select2-results__options--nested{
  float: left;
  width: 50%;
}
/*
.select2-results__option{
  float:left;
  width: 30%;
} */
